/* -------------------TYPOGRAPHY---------------------- */
/* 

FONT SIZES 
16 / 20 / 24 / 32 / 40 / 48 / 64

FONT WEIGHT
400 / 700

LINE HEIGHT 
1.2 / 1.5

LETTER SPACING 
0 / -2px 

FONT FAMILY 
poppins 

BORDER RADIUS 
4px / 8px / 20px

BORDER 
2px

SPACING SYSTEM 
5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px


 */
/* ------------------------- COLORS SCHEMEES-------------------- */
/* -------primary color----------- */
/* blue -> #228be6 */
/* tint -> #a5d8ff */
/* shade -> #1864ab */

/* -------secondary color -------------- */
/* grape -> #cc5de8 */
/* tint -> #eebefa */
/* shades -> #9c36b5 */

/* -----------tertiary color---------- */
/* orage -> #ff922b
    tint -> #ffe8cc 
    shades -> #e8590c*/

/* ----------grey color ------------- */
/* grey -> #868e96 */
/* tint -> #dee2e6 */
/* shades -> #343a40 */

/* DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  color: var(--black);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-base);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}

h1 {
  font-size: var(--font-4xl);
}
h2 {
  font-size: var(--font-3xl);
}
h3 {
  font-size: var(--font-2xl);
}
h4 {
  font-size: var(--font-xl);
}
h5 {
  font-size: var(--font-lg);
}

p {
  font-size: var(--font-md);
}

a {
  font-size: var(--font-base);
  text-decoration: none;
  display: inline-block;
}
span {
  display: inline-block;
}
ul {
  list-style: none;
}
/* .small-text {
  font-size: var(--font-sm);
} */
