:root {
  /* FONT SIZES */
  --font-sm: 1.2rem;
  --font-base: 1.6rem;
  --font-md: 2rem;
  --font-lg: 2.4rem;
  --font-xl: 3.2rem;
  --font-2xl: 4rem;
  --font-3xl: 4.8rem;
  --font-4xl: 6.4rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* LINE HEIGHT */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* FONT FAMILY */
  --font-family: "Poppins", san-serif;

  /* COLOR SCHEME */
  /* -------primary color----------- */
  --primary-base: #228be6;
  --primary-tint: #a5d8ff;
  --primary-shade: #1864ab;

  /* -------secondary color -------------- */
  --secondary-base: #cc5de8;
  --secondary-tint: #eebefa;
  --secondary-shade: #9c36b5;

  /* -----------tertiary color---------- */
  --tertiary-base: #ff922b;
  --tertiary-tint: #ffe8cc;
  --tertiary-shade: #e8590c;

  /* ----------grey color ------------- */
  --grey-base: #868e96;
  --grey-tint: #dee2e6;
  --grey-shade: #343a40;

  /* other color */
  --white: #ffffff;
  --black: #000;

  /* micellaneous  */
  --nav-height: 10rem;
}
